{% extends 'main/base.html' %}
{% load static %}
{% load cars_tags %}
{% block content %}
<!-- Контент -->
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Порожній блок на ваш розсуд -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на сторінці -->
            <div class="row">
                <!-- Форма фільтрів -->
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Фільтри
                    </button>

                    <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                            {% if request.GET.q %}
                            	<input type="hidden" name="q" value="{{ request.GET.q }}">
                            {% endif %}
                            <label class="form-check-label" for="flexCheckDefault">
                                Авто за акцією
                            </label>
                        </div>
                        <p class="text-white mx-3 mt-3">Сортувати:</p>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                            {% if request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                За замовчуванням
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"{% if request.GET.order_by == 'price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Від дешевих до дорогих
                            </label>
                        </div>
                        <div class="form-check text-white mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"{% if request.GET.order_by == '-price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault3">
                                Від дорогих до дешевих
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-3 mt-3">Застосувати</button>
                    </form>
                </div>

                {% for car in cars %}
                <!-- Карта товару -->
                <div class="col-lg-4 col-md-6 p-4">
                    <div class="card border-primary rounded custom-shadow">
                        {% if car.image %}
                        	<img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.name }}">
                        {% else %}
                            <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="Незнайдено зображення">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'catalog:car' car.slug %}">
                                <p class="card-title">{{ car.name }}</p>
                            </a>
                            <p class="card-text ">{{ car.description|truncatechars:60 }}</p>
                            <p class="product_id">id:{{ car.displey_id }}</p>
                            <div class="d-flex justify-content-between">
                                {% if car.discount %}
                                    <p><s>{{ car.price }}</s> $</p>
                                    <p><strong>{{ car.price_for_sell }} $</strong></p>
                                    <span class="badge bg-warning text-dark">Знижка {{ car.discount }} %</span>
                                {%  else %}
                                    <p><strong>{{ car.price }} $</strong></p>
                                {% endif %}
                                <a href="#" class="btn add-to-cart">
                                    <img class="mx-1" src="{% static 'deps/icons/cart-plus.svg' %}" alt="Іконка кошика"
                                        width="32" height="32">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Пагінація -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center my-4">
                    <div class="custom-shadow d-flex">
                        <li class="page-item {% if not cars.has_previous %} disabled {% endif %}">
                            <a class="page-link" href='{% if cars.has_previous %}?{%  change_params page=cars.previous_page_number %}{% else %}

                            {% endif %}'>Попередня</a>
                        </li>
                        
                        {% for page in cars.paginator.page_range %}
                            {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
                            	<li class="page-item" {% if cars.number == page %} active{% endif %}>
                                    <a class="page-link" href="?{%  change_params page=page %}">{{ page }}</a>
                             </li>
                            {% endif %}
                        {% endfor %}

                        <li class="page-item {% if not cars.has_next %} disabled {% endif %}">
                            <a class="page-link" href='{% if cars.has_next %}?{%  change_params page=cars.next_page_number %}{% else %}

                            {% endif %}'>Наступна</a>

                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock %}
